.toolbar {
  margin-bottom: 12px;
  .btn-add {
    background: transparent;
    border: none;
    color: #1a73e8;
    cursor: pointer;
    font-size: 20px;
  }
}
dx-data-grid {
  width: 100%;
  display: block;
}