:host ::ng-deep {
  .premium-grid {
    .dx-datagrid-headers {
      background-color: #f1f4f8;
      color: #4a5568;
      font-weight: 600;
      border-bottom: 1px solid #edf2f9;
    }

    .dx-datagrid-rowsview .dx-row {
      border-bottom: 1px solid #edf2f9;
      height: 52px;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row > td {
      vertical-align: middle;
      font-size: 0.9rem;
    }
  }
}
